/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* GENERAL STYLE */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(207, 207, 207);
}

a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  background-color: red;
  padding: 0.4rem 1rem;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}
header {
  background-color: black;
  padding: 2rem;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
}
ul {
  display: flex;
}
li {
  margin-left: 0.9rem;
}
img {
  width: 270px;
  height: 300px;
}

.list-type {
  border: 1px solid black;
  display: flex;
  padding: 1rem;
}
h1 {
  text-align: center;
  font-size: 1.7rem;
  margin: 1rem 0;
}
h2 {
  font-size: 1.5rem;
  margin: 1rem 0;
}
.edit-box {
  margin: 1.2rem 0;
}
.welcome-box {
  text-align: center;
}
.goStore {
  text-align: center;
  color: rgb(251, 255, 246);
  margin-top: 1rem;
}
