<%- include(`partials/header`) -%> <%- include(`partials/navbar`) -%>
<div class="welcome-box">
  <h1>Welcome to Bookstore</h1>
  <a class="goStore" href="/books">Go To Store</a>
</div>
<%- include(`partials/footer`) -%>
