<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <nav class="nav">
        <span><a href="/">Home</a></span>
        <span
          ><a href="/articles">Articles List</a> |
          <a href="/articles/new">Add Article</a></span
        >
      </nav>
      <h1><%= title %></h1>
    </header>
    <p>Welcome to <%= title %></p>
    <button class="btn-index"><a href="/articles">Go To Articles</a></button>
  </body>
</html>
